.item {
    border: 1px solid lightgray;
    border-radius: 10px;
    overflow: hidden;
    width: 100% ;
}

.image {
    height: 300px;
    position: relative;
    
}

.image span {
    position: absolute;
    right: 10px;
    top: 10px;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info button {
    border-radius: 5px;
    border: none;
    padding: 5px;
    background-color: black;
    color: white
}

.info button:hover {
    background-color:darkorange;
    color: black;
}
.buy{
    cursor: pointer;
}